root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_size = 4
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.CA1812.severity = none

[*.{xml,csproj,props}]
indent_size = 2
